$colorBlueLight:#288ACF;
$colorGreen:#77AA00;
$colorOrange:#EA9900;
$colorRed:#ED2D2A;
$colorPurple:#980097;
$colorPinkDark:#AD0058;
$colorGrey:#292929;
$colorGreyDark:#363636;
$colorGreyLight:#a1a1a1;
$breakpointTabMin: 'min-width:768px';

